:root {
    --btn-color-main: #d14747;
    --btn-color-secondary: #cf4e4e;
}

#map {
    height: 50vh;
}

.btn-hover-efecto {
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.btn-hover-efecto:hover {
    transform: scale(1.02);
    box-shadow: 0 10px 8px rgba(0,0,0,0.2);
}

.btn.btn-main {
    background-color: var(--btn-color-main);
    color: white;
    border: none;
}

.btn.btn-dark {
    background-color: var(--btn-color-main);
    color: white;
    border: none;
}

.navbar.navbar-custom1 {
    background-color: var(--btn-color-main) !important;
}

.radio-container label,
.radio-container input {
    cursor: pointer;
}

.button-hover-efecto {
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    position: relative; /* Necesario para aplicar z-index */
    z-index: 1;
}

.button-hover-efecto:hover {
    transform: scale(1.08);
    box-shadow: 0 14px 8px rgba(0,0,0,0.2);
    z-index: 10;
    color: white;
}

.efecto-button-glow {
  position: relative;
  overflow: hidden;
  z-index: 0;
  transition: transform 0.3s ease;
}

.efecto-button-glow::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 600px;
  height: 600px;
  transform: translate(-50%, -50%);
  background: radial-gradient(circle, var(--btn-color-main) 0%, var(--btn-color-main) 70%);
  opacity: 0;
  z-index: -1;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.efecto-button-glow:hover::before {
  opacity: 1;
}

.sub-img {
    color: rgb(138, 137, 137);
}

.sub-img a {
    all: unset;
    cursor: pointer;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.2); /* fondo */
    background-size: 100% 100%;
    border-radius: 50%;
}

.linea1 {
    color: white !important;
    font-weight: bold;
    background-color: #e9468f !important;
    text-shadow:
    -1px -1px 0 black,
     1px -1px 0 black,
    -1px  1px 0 black,
     1px  1px 0 black;
}

.linea2 {
    color: white !important;
    font-weight: bold;
    background-color: #00599f !important;
    text-shadow:
    -1px -1px 0 black,
     1px -1px 0 black,
    -1px  1px 0 black,
     1px  1px 0 black;
}

.linea3 {
    color: white !important;
    font-weight: bold;
    background-color: #b69c13 !important;
    text-shadow:
    -1px -1px 0 black,
     1px -1px 0 black,
    -1px  1px 0 black,
     1px  1px 0 black;
}

.linea4 {
    color: white !important;
    font-weight: bold;
    background-color: #6cbab1 !important;
    text-shadow:
    -1px -1px 0 black,
     1px -1px 0 black,
    -1px  1px 0 black,
     1px  1px 0 black;
}

.linea5 {
    color: white !important;
    font-weight: bold;
    background-color: #fdd200 !important;
    text-shadow:
    -1px -1px 0 black,
     1px -1px 0 black,
    -1px  1px 0 black,
     1px  1px 0 black;
}

.linea6 {
    color: white !important;
    font-weight: bold;
    background-color: #da1715 !important;
    text-shadow:
    -1px -1px 0 black,
     1px -1px 0 black,
    -1px  1px 0 black,
     1px  1px 0 black;
}

.linea7 {
    color: white !important;
    font-weight: bold;
    background-color: #e97009 !important;
    text-shadow:
    -1px -1px 0 black,
     1px -1px 0 black,
    -1px  1px 0 black,
     1px  1px 0 black;
}

.linea8 {
    color: white !important;
    font-weight: bold;
    background-color: #008e3d !important;
    text-shadow:
    -1px -1px 0 black,
     1px -1px 0 black,
    -1px  1px 0 black,
     1px  1px 0 black;
}

.linea9 {
    color: white !important;
    font-weight: bold;
    background-color: #5b352e !important;
    text-shadow:
    -1px -1px 0 black,
     1px -1px 0 black,
    -1px  1px 0 black,
     1px  1px 0 black;
}

.linea12 {
    color: white !important;
    font-weight: bold;
    background-color: #c49955 !important;
    text-shadow:
    -1px -1px 0 black,
     1px -1px 0 black,
    -1px  1px 0 black,
     1px  1px 0 black;
}

.lineaA {
    color: white !important;
    font-weight: bold;
    background-color: #9e1a81 !important;
    text-shadow:
    -1px -1px 0 black,
     1px -1px 0 black,
    -1px  1px 0 black,
     1px  1px 0 black;
}

.lineaB {
    color: white !important;
    font-weight: bold;
    background: linear-gradient(to bottom, #077f4a 50%, #b9b9b7 50%);
    text-shadow:
    -1px -1px 0 black,
     1px -1px 0 black,
    -1px  1px 0 black,
     1px  1px 0 black;
}